/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');

/* CSS Variables */
:root {
  --heading-font: 'Poppins', sans-serif;
  --sub-heading-font: 'Rozha one', serif;
  --body-font: 'Enriqueta', serif;
  --highlight-color: #14213D;
  /* Dark Blue */
  --primary-color: #E5E5E5;
  /* Light Gray */
  --secondary-color: #FCA311;
  /* Yellow */
  --font-color: #FFFFFF;
  /* White */
}

/* Global styles */
body {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  font-family: var(--body-font);
}

h1 {
  font-family: var(--heading-font);
  color: var(--highlight-color);
  text-transform: uppercase;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sub-heading-font);
  color: var(--highlight-color);
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  height: 100%;
}

/* navbar */
#navbar {
  background-color: var(--highlight-color);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Header */
#header .hero-section {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  text-align: left;
}
/* Button styles */

#get-help .btn{
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  border-color: var(--secondary-color);
  border-radius: 1px;
  margin-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#get-help .btn:hover{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}

.header-btn{
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  border-color: var(--secondary-color);
  border-radius: 1px;
}

.header-btn:hover{
  background-color: var(--highlight-color);
  color: var(--font-color);
  border-color: var(--highlight-color);
}

.resources-btn{
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  border-color: var(--secondary-color);
  border-radius: 1px;
}

.resources-btn:hover{
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border-color: var(--primary-color);
}

/* Carousel */
#affirmations .carousel {
  background-color: var(--highlight-color);
  color: var(--font-color);
  padding: 50px;
  margin-bottom: 50px;
}




/* Resources */
.resources-intro {
  padding: 50px;
}

#resources .card {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  margin-bottom: 1.5rem;
}

.card-body:hover{
  background-color: var(--highlight-color);
  color: var(--font-color);
  transition: color 0.3s ease-in-out;
}

/* tips */
.tips-intro {
  padding: 50px;
}

#tips .card {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  transition: color 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

.tips-videos {
  margin-top: 4rem;
}

.card-body:hover{
  background-color: var(--highlight-color);
  color: var(--font-color);
}

/* Footer */

footer {
  background-color: var(--highlight-color);
  color: #FFFFFF;
  padding: 50px;
  text-align: center;
  margin-top: 1.5rem;
}

.social-links i {
  font-size: 1.9rem;
  padding: 15px;
  transition: color 0.3s ease-in-out;
}



/* Media Queries */

/* For mobiles and tablets */
 @media screen and (max-width: 768px) {
 .header-btn{
  margin-bottom: 1.5rem;
 }
  #affirmations, img{
    width: 100%;
    
  }
}


