/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');

/* CSS Variables */
:root {
    --heading-font: 'Poppins', sans-serif;
    --sub-heading-font: 'Rozha one', serif;
    --body-font: 'Enriqueta', serif;
    --secondary-color: #14213D; /* Dark Blue */
    --primary-color: #E5E5E5; /* Light Gray */
    --highlight-color: #FCA311; /* Yellow */
    --font-color: #FFFFFF; /* White */
}
/* Global styles */
body {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    font-family: var(--body-font);
  }
  
  h1{
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  h2, h3, h4, h5, h6{
    font-family: var(--sub-heading-font);
    color: var(--secondary-color)
  }


#navbar{
    background-color: var(--secondary-color);
    padding: 10px;
  }

    /* Header */
    header{
        background-color: var(--highlight-color);
        color: var(--secondary-color);
        padding: 100px;
        text-align: center;
      }

  /* Carousel */
#affirmations .carousel{
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 50px;
    margin-bottom: 50px;
  }


    /* Resources */
    .resources-intro{
        padding: 50px;
    }

    #resources .card{
        background-color: slategrey;
        color: var(--secondary-color);
      }
  
  footer {
    background-color: var(--secondary-color);
    color: #FFFFFF;
    padding: 100px;
    text-align: center;
  }
  